# Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"

ANSWER-

In [3]:
def next_in_line(lst,n):
    if len(lst)>1:
        lst.append(n)
        lst.remove(lst[0])
        print(f'output -> {lst}')
        
    else:
        print("no list has been selected ")
for i in range(4):
    user_input=input("enter a list  ")
    user_list = [int(j) for j in user_input.split()]
    num=int(input("give number as arguments "))
    next_in_line(user_list,num)

enter a list  5 6 7 8 9
give number as arguments 1
output -> [6, 7, 8, 9, 1]
enter a list  7 6 3 23 17
give number as arguments 10
output -> [6, 3, 23, 17, 10]
enter a list  1 10 20 42
give number as arguments 6
output -> [10, 20, 42, 6]
enter a list
give number as arguments 6
no list has been selected

# Question2 Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]) ➞ 65700
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", 'age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) ➞ 62600

ANSWER-

In [3]:
def get_budgets(in_dict):
    sum = 0
    for ele in in_dict:
        sum += ele["budget"]
    print(f'Output ➞ {sum}')
    
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]) 


get_budgets([
{ "name": "Sanjay", "age": 25, "budget": 30000 },
{ "name": "Piyush", "age": 27, "budget": 40000 },
{ "name": "Pankaj", "age": 24, "budget": 10000 }
])

Output ➞ 65700
Output ➞ 62600
Output ➞ 80000

# Question3 Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("edabit") ➞ "abdeit"
alphabet_soup("hacker") ➞ "acehkr"
alphabet_soup("geek") ➞ "eegk"
alphabet_soup("javascript") ➞ "aacijprstv"

ANSWER-

In [1]:
def alphabet_soup(str):
    new_str=''.join(sorted(str))
    print(f'{str} -> {new_str}')
for i in range(4):
    string=input("enter a string  ")
    alphabet_soup(string)

enter a string  hello
hello -> ehllo
enter a string  edabit
edabit -> abdeit
enter a string  hacker
hacker -> acehkr
enter a string  geek
geek -> eegk

# Question4 Suppose that you invest dollar10,000 for 10 years at an interest rate of 6% compounded monthly.What will be the value of your investment at the end of the 10 year period?Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

ANSWER-

In [2]:
def compound_interest(principal,years,roi,cp):
    ci=principal*(1+(roi/cp))**(cp*years)
    print(f'Output -> {ci:.2f}')
for i in range(4):
    p=int(input("enter a principal value: "))
    y=int(input("ente a year: "))
    IR=float(input("enter rate of interest: "))
    n=int(input("enter compounding per year n value: " ))
    compound_interest(p,y,IR,n)

enter a principal value: 10000
ente a year: 10
enter rate of interest: 0.06
enter compounding per year n value: 12
Output -> 18193.97
enter a principal value: 100
ente a year: 1
enter rate of interest: 0.05
enter compounding per year n value: 1
Output -> 105.00
enter a principal value: 3500
ente a year: 15
enter rate of interest: 0.1
enter compounding per year n value: 4
Output -> 15399.26
enter a principal value: 100000
ente a year: 20
enter rate of interest: 0.15
enter compounding per year n value: 365
Output -> 2007316.26

# Question5 Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,
3]
return_only_integer(["String", True, 3.3, 1]) ➞ [1]

ANSWER-

In [9]:
def return_only_integer(lst):
    new_lst=[]
    for i in lst:
        if type(i)==int:
            new_lst.append(i)
    print(f'{lst} -> {new_lst}')

return_only_integer([9, 2, "space", "car", "lion", 16])
return_only_integer(["hello", 81, "basketball", 123, "fox"])
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) 
return_only_integer(["String", True, 3.3, 1])
return_only_integer(["Ineuron", True, 3.3, 1,"sanjay",90])

[9, 2, 'space', 'car', 'lion', 16] -> [9, 2, 16]
['hello', 81, 'basketball', 123, 'fox'] -> [81, 123]
[10, '121', 56, 20, 'car', 3, 'lion'] -> [10, 56, 20, 3]
['String', True, 3.3, 1] -> [1]
['Ineuron', True, 3.3, 1, 'sanjay', 90] -> [1, 90]